* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0c0e11;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.btn {
  margin: 2rem;
  text-decoration: none;
  color: #fff;
}

#teste1 {
  background: #25d49a;
  padding: 0.5rem 1rem;
  border-radius: 30px 5px;
  border: solid #9dd31f;
  transition: 600ms ease-in-out;
}
#teste1:hover {
  border-radius: 5px 30px;
  color: #ecdf1d;
  box-shadow: 2px 2px 15px #d4f8357e, 2px 2px 25px #d4f8357e, 2px 2px 35px #d4f8357e, 2px 2px 55px #d4f8357e, 2px 2px 60px #d4f8357e;
}

#teste2 {
  background: #ccc;
  color: #000;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  border: 3px solid #fff;
  transition: 600ms ease-in-out;
}
#teste2:hover {
  border: 3px solid #272727;
  box-shadow: inset -6px 6px 15px 2px #000, -3px 3px 20px 2px #1b1b1b;
  -webkit-box-reflect: below 1% linear-gradient(transparent, #ffffff23);
}

#teste3 {
  position: relative;
  padding: 1rem;
  font-size: 1.5rem;
}
#teste3::before {
  position: absolute;
  content: "";
  width: 3rem;
  height: 3rem;
  top: 13%;
  left: 30%;
  z-index: -1;
  background: #a83dda;
  border-radius: 50%;
  transition: 500ms ease-in-out;
}
#teste3:hover {
  color: greenyellow;
}
#teste3:hover::before {
  width: 8rem;
  height: 8rem;
  top: -40%;
  left: 0;
  box-shadow: 0 0 5px #701c978c, 0 0 15px #701c978c, 0 0 45px #701c978c, 0 0 65px #701c978c, 0 0 80px #701c978c;
}

#teste4 {
  position: relative;
  padding: 1rem;
  color: #444;
  font-weight: bolder;
}
#teste4::before {
  content: "";
  position: absolute;
  background: #ccc;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
#teste4:hover {
  animation: animate 300ms infinite;
}
#teste4:hover::before {
  animation: animateBg 600ms infinite;
}

@keyframes animate {
  from {
    top: 0;
    left: 0;
  }
  0%, 3% {
    top: 0.3rem;
    left: 0.2rem;
  }
  9% {
    top: 0.1rem;
    left: -0.1rem;
  }
  18%, 22% {
    top: -0.2rem;
    left: -0.4rem;
  }
  30%, 55% {
    top: -0.5rem;
    left: 0.1rem;
  }
  60%, 72% {
    top: 0.3rem;
    left: 0.2rem;
  }
  @keyframes animateBg {
    0%, 100% {
      background: linear-gradient(to right, #fff, #000);
    }
    50% {
      background: linear-gradient(to left, #fff, #000);
    }
  }
}
#teste5 {
  background: #a52b1b;
  padding: 0.5rem 1rem;
  transform: skewX(-12deg);
  -webkit-box-reflect: below 1% linear-gradient(transparent, #ffffff3d);
  transition: 500ms ease-in-out;
}
#teste5::after {
  content: "Hover Me!";
}
#teste5:hover {
  transform: skewX(12deg);
  box-shadow: 0 0 5px #ac0000d3, 0 0 20px #ac0000d3, 0 0 30px #ac0000d3, 0 0 50px #ac0000d3, 0 0 65px #df1d1dea, 0 0 80px #dd0e0ed3;
}
#teste5:hover::after {
  content: "Love You!";
}

.div {
  position: relative;
}
.div #teste6 {
  color: #000000b9;
  font-weight: bolder;
}
.div #teste6::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: -110%;
  left: 20%;
  width: 5rem;
  height: 5rem;
  background: #ffffffc7;
  filter: blur(30px);
}
.div #teste6:hover::before {
  animation: 600ms cube infinite;
}

@keyframes cube {
  0% {
    transform: rotate(0deg);
  }
  92% {
    transform: rotate(84deg);
  }
  98% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(87deg);
  }
}
.eclipse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50vw;
  height: 40vh;
}
.eclipse #teste7 {
  position: relative;
  margin: 3rem;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #fff, 0 0 50px #fff, 0 0 65px #fff;
}
.eclipse #teste7::before {
  position: absolute;
  bottom: -2rem;
  left: 25%;
  content: "Eclipse";
  color: #d4e635;
  font-weight: bolder;
  z-index: 2;
}
.eclipse #teste7::after {
  position: absolute;
  content: "";
  width: 6rem;
  height: 6rem;
  top: 0;
  right: 9rem;
  background: #0c0e11f6;
  border-radius: 50%;
  filter: blur(5px);
  transition: 6s ease-in;
}
.eclipse #teste7:hover::after {
  right: -2.5rem;
  top: -2rem;
}

#teste8 {
  background: #fff;
  color: #858585;
  padding: 0.5rem 1rem;
  font-weight: bolder;
  border-radius: 8px 0;
  border-bottom: 5px solid #205f51;
  border-right: 5px solid #205f51;
  box-shadow: 2px 2px 18px 2px #17a589b6;
  transition: 500ms ease-in-out;
}
#teste8:hover {
  background: #858585;
  color: #fff;
}

#teste9 {
  position: relative;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.185);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  overflow: hidden;
  transition: 0.5s;
}
#teste9::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  transform: skewX(45deg) translateX(0);
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transition: 0.5s;
}
#teste9::after {
  content: "";
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 110%;
  transform: skewX(45deg) translateX(0);
  background: rgba(255, 17, 0, 0.6);
  box-shadow: 0 0 30px red;
  z-index: -1;
  transition: 0.9s;
}
#teste9:hover {
  letter-spacing: 3px;
}
#teste9:hover::before {
  transform: skewX(45deg) translateX(200%);
}
#teste9:hover::after {
  width: 200%;
  transform: skewX(45deg) translateX(200%);
}

#teste10 {
  position: relative;
  background: #fff;
  padding: 0.5rem 1rem;
  color: #000;
  border-top: #585858;
  border-bottom: #585858;
  border-radius: 30px;
  font-weight: bold;
  z-index: -1;
  overflow: hidden;
  -webkit-box-reflect: below 1% linear-gradient(transparent, #ffffff21);
}
#teste10::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: #74747450;
  transform: skewX(45deg) translateX(-15%);
  transition: 0.5s;
  z-index: 1;
}
#teste10:hover {
  letter-spacing: 3px;
}
#teste10:hover::before {
  transform: skewX(45deg) translateX(200%);
}

/*# sourceMappingURL=style.css.map */
